<ion-header>
  <ion-toolbar>
    <ion-title>contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item class="">
      <ion-label position="floating">E-mail</ion-label>
      <ion-textarea ></ion-textarea>
    </ion-item>
    <ion-item class="">
      <ion-label position="floating">Telefone</ion-label>
      <ion-textarea ></ion-textarea>
    </ion-item>

    <ion-button (click)="Adicionar()" expand="full" color="light">
      Adicionar
    </ion-button>

    <ion-card>
        <ion-row style="background-color: #1ab394; color: white">
              <ion-col size="6">E-mail</ion-col>
              <ion-col size="6">Telefone</ion-col>
        </ion-row>
      </ion-card>

    <ion-grid no-padding *ngFor="let item of data">
      <ion-card>  
        <ion-row>
            <ion-col size="6" >{{item.email}}</ion-col>
            <ion-col size="6" >{{item.telefone}}</ion-col>
        </ion-row>
      </ion-card>
    </ion-grid> 

</ion-content>
